<h3>Пройшло {{this.timer}} секунд</h3>
<button type="button" class="btn btn-primary" (click)="reload()">Refresh</button>

<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#settingsModal">
  Settings
</button>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-settings-form></app-settings-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<p-table [columns]="cols" [value]="chains" [(selection)]="subscribed" (onRowSelect)="pin($event)" rowIndex dataKey="{{rowIndex}}" [autoLayout]="true">  
  <ng-template pTemplate="header" let-columns let-rowData>
    <tr>
      <th style="width: 3em">
        <!-- <p-tableCheckbox [value]="rowData" ></p-tableCheckbox> -->
      </th>
      <th *ngFor="let col of columns" [style.width.px]="col.field === 'chain' ? '800' : ''"  [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td>
        {{rowData.gain}}
      </td>
      <td>
        <app-chain-col [chain]="rowData?.chain.chainData" [dollarRate]="rowData?.chain.dollarRate"></app-chain-col>
      </td>
      <td style="width: 80px">
        {{rowData.score}}
      </td>
      <td  style="width: 70px">
        {{rowData.age}}
      </td>
      <td>
        {{rowData.options}}
      </td>
      <td>
        <!-- {{rowData.links}} -->
        <button pButton icon="pi pi-angle-right" (click)="openAllLinks(rowIndex)" type="button"></button>
      </td>
    </tr>
  </ng-template>
</p-table>