<div class="container mt-2">
  <div class="row">
    <div class="col-md-2 mt-2">
      <h6>Пройшло {{this.timer}} секунд</h6>
      <div class="mt-3">
          <h6>Інтервал {{this.interval / 1000}} с</h6></div>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" (click)="updateInterval(1000)">+</button>
      <button type="button" class="btn btn-primary pr-3 text-center mt-1" data-toggle="modal" (click)="updateInterval(-1000)">-</button>
    </div>
    <div class="col-md-7">
      <app-header></app-header>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#settingsModal">Settings</button>
      <a routerLink="/custom-chain" class="float-right mt-1">CustomChain <i class="pi pi-arrow-right"></i></a>
    </div>
    <div class="col-md-12 text-center mb-2">
      <button type="button" class="btn btn-primary" (click)="reload()">Refresh</button>
    </div>
  </div>
</div>
<!-- <button type="button" class="btn btn-primary" (click)="toggleLoad()">toggle load {{toggleLoader}}</button> -->

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-settings-form></app-settings-form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<p-table #dt [columns]="cols" [value]="chains" [(selection)]="subscribed" (onRowSelect)="pin($event)" rowIndex
  dataKey="{{rowIndex}}" [autoLayout]="true" tableStyleClass="table-class" [globalFilterFields]="['titles']">
  <ng-template pTemplate="caption">
    <div style="text-align: right">        
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns let-rowData>
    <tr>
      <th style="width: 3em">
        <!-- <p-tableCheckbox [value]="rowData" ></p-tableCheckbox> -->
      </th>
      <th *ngFor="let col of columns" [style.width.px]="col.field === 'chain' ? '800' : ''"
        [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
    <tr [pSelectableRow]="rowData" [ngClass]="{'subscribed': rowData?.isSubs, 'test': true}">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td>
        {{rowData.gain}}
      </td>
      <td>
        <app-chain-col [chain]="rowData?.chain.chainData" [dollarRate]="rowData?.chain.dollarRate"></app-chain-col>
      </td>
      <td style="width: 80px">
        {{rowData.score}}
      </td>
      <td style="width: 70px">
        {{rowData.age}}
      </td>
      <td>
        <a [routerLink]="['/chain-settings']"><p-button type="button" (click)="selectChain(rowData)"><i class="pi pi-bars"></i></p-button></a>
      </td>
      <td>
        <!-- {{rowData.links}} -->
        <button pButton icon="pi pi-angle-right" (click)="openAllLinks(rowIndex)" type="button"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
