<p-messages [(value)]="msgs"></p-messages>
<div class="container">
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['/main']"><button type="submit" class="btn btn-primary mt-3 mb-3">Назад</button></a>
    </div>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="allExchangers">
    <label class="form-check-label" >Всі обмінники</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="allCurrencies">
    <label class="form-check-label" >Всі валюти</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="firstCurrencyIn">
    <label class="form-check-label" >Перша вхід</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="firstCurrencyOut">
    <label class="form-check-label" >Перша вихід</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="secondCurrencyIn">
    <label class="form-check-label" >Друга вхід</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="secondCurrencyOut">
    <label class="form-check-label" >Друга вихід</label>
  </div>
  <div class="form-group" *ngIf="chain.length > 2">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="thirdCurrencyIn">
    <label class="form-check-label" >Третя вхід</label>
  </div>
  <div class="form-group" *ngIf="chain.length > 2">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="thirdCurrencyOut">
    <label class="form-check-label" >Третя вихід</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="firstExchanger">
    <label class="form-check-label" >Перший обмінник</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="secondExchanger">
    <label class="form-check-label" >Другий обмінник</label>
  </div>
  <div class="form-group"  *ngIf="chain.length > 2">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="thirdExchanger">
    <label class="form-check-label">Третій обмінние</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="firstPair">
    <label class="form-check-label" >Перша пара</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="secondPair">
    <label class="form-check-label" >Друга пара</label>
  </div>
  <div class="form-group" *ngIf="chain.length > 2">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="thirdPair">
    <label class="form-check-label" >Третя пара</label>
  </div>

  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="firstRate">
    <label class="form-check-label" >Перший рейт</label>
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="secondRate">
    <label class="form-check-label" >Другий рейт</label>
  </div>
  <div class="form-group" *ngIf="chain.length > 2">
    <input type="checkbox" class="form-radio-input mr-1" formControlName="thirdRate">
    <label class="form-check-label" >Третій рейт</label>
  </div>
  <div class="row mt-2">
    <div class="col md4">
      <label for="blockTime">Днів</label>
      <input class="form-control" formControlName="days" id="days">
    </div>
    <div class="col md4">
      <label for="blockTime">Годин</label>
      <input class="form-control" formControlName="hours" id="hours">
    </div>
    <div class="col md4">
      <label for="blockTime">Хвилин</label>
      <input class="form-control" formControlName="mins" id="mins">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>