<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="container mb-2">
    <div class="row text-center">
      <div class="col-sm-2">
        <label for="exmoOrdersCount">Ордери...</label>
        <input type="number" class="form-control" formControlName="exmoOrdersCount" id="orders">
      </div>
      <div class="col-sm-3">
        <label for="minBalance">Min Balance</label>
        <input type="number" class="form-control" formControlName="minBalance" id="minBalance">
      </div>
      <div class="col-sm-3">
        <label for="minProfit">Min Profit %</label>
        <input type="number" class="form-control" formControlName="minProfit" id="minProfit">
      </div>
      <div class="col-sm-2">
        <label for="search">Search</label>
        <input type="text" class="form-control" formControlName="chainSubscriptions" id="search">
      </div>
      <div class="col-md-2">
        <div class="form-check float-left">
          <input class="form-check-input" formControlName="showExmo" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">Exmo</label>
        </div>
        <div class="form-check float-left">
          <input class="form-check-input" formControlName="ltThreeLinks" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">4Кроки</label>
        </div>
        <div class="form-check float-left">
          <input class="form-check-input" formControlName="showKuna" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">Kuna</label>
        </div>
      </div>
    </div>
  </div>


</form>
