<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="row">
    <div class="col md6">
      <label for="inCurr">Вхідна валюта</label>
      <select class="form-control" formControlName="inCurr">
        <option *ngFor="let currency of currencies" [value]="currency.currencyId">
          {{currency.currencyTitle}}
        </option>
      </select>
    </div>
    <div class="col md6">
      <label for="outCurr">Вихідна валюта</label>
      <select class="form-control" formControlName="outCurr">
        <option *ngFor="let currency of currencies" [value]="currency.currencyId">
          {{currency.currencyTitle}}
        </option>
      </select>
    </div>
  </div>
  <div class="mt-2">
    <label for="exchanger">Обмінник</label>
    <select class="form-control" formControlName="exchanger">
      <option *ngFor="let exchanger of exchangers" [value]="exchanger.exchangerId">
        {{exchanger.exchangerTitle}}
      </option>
    </select>
  </div>
  <div class="row mt-2">
    <div class="col md4">
      <label for="blockTime">Днів</label>
      <input class="form-control" formControlName="days">
    </div>
    <div class="col md4">
      <label for="blockTime">Годин</label>
      <input class="form-control" formControlName="hours">
    </div>
    <div class="col md4">
      <label for="blockTime">Хвилин</label>
      <input class="form-control" formControlName="mins">
    </div>
  </div>

  <div class="mt-3">
    <button type="submit" class="btn btn-primary float-right" [disabled]="!form.value.inCurr && !form.value.outCurr && !form.value.exchanger">Submit</button>
  </div>
</form>
