<form [formGroup]="form" (ngSubmit)="submit()">

  <div class="row">
    <div class="col s6">
      <label for="inCurr">Вхідна валюта</label>
      <select class="form-control" formControlName="inCurr" id="inCurr">
        <option *ngFor="let currency of currencies">
          {{currency}}
        </option>
      </select>
    </div>
    <div class="col s6">
      <label for="outCurr">Вихідна валюта</label>
      <select class="form-control" formControlName="outCurr" id="outCurr">
        <option *ngFor="let currency of currencies">
          {{currency}}
        </option>
      </select>
    </div>
  </div>
  <label for="exchanger">Обмінник</label>
  <select class="form-control" formControlName="exchanger" id="exchanger">
    <option *ngFor="let exchanger of exchangers">
      {{exchanger}}
    </option>
  </select>
  <div class="row">
    <div class="col s4">
      <label for="blockTime">Днів</label>
      <input class="form-control" formControlName="days" id="days">
    </div>
    <div class="col s4">
      <label for="blockTime">Годин</label>
      <input class="form-control" formControlName="hours" id="hours">
    </div>
    <div class="col s4">
      <label for="blockTime">Хвилин</label>
      <input class="form-control" formControlName="mins" id="mins">
    </div>
  </div>


  <button type="button" class="btn btn-primary float-right">Submit</button>
</form>
